<div class="container">
  <h1>Your Purchased SCOI Audits</h1>

  {{#if purchases.length}}
    <div class="product-grid">
      {{#each purchases}}
        <div class="product">
          <h3>{{this.auditId.subject.name}}</h3>

          <p style="color:#9AA3AD">
            Assessment Window: {{this.auditId.assessmentWindow.label}}
          </p>

          {{#if this.auditId.pdfUrl}}
           <!-- <a
              href="/scoi/audits/{{this.auditId._id}}/download"
              class="btn btn-primary"
            >
              Download PDF
            </a>-->


            <a
  href="/scoi/audits/{{this.auditId._id}}/view"
  class="btn btn-primary"
  target="_blank"
>
  View Audit
</a>
          {{else}}
            <p style="color:#D4AF37">
              Preparing report…
            </p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>You haven’t purchased any SCOI audits yet.</p>
  {{/if}}
</div>
